<!doctype html>
<html>
  <head>
    <title>All users</title>
  </head>
  <body>
    {% for (user, todo) in data %}
    <!-- une conditionelle -->
    {% if user[0] %}
    <h1>{{ user[0] }}</h1><!-- une substitution -->
    {% else %}
    <h1>Anonyme</h1>
    {% endif %}
    <ul>
      <!-- une boucle -->
      {% for k,v in todo %}
      <li>{{ v }}</li>
      {% endfor %}
    </ul>
    {% endfor %}
  </body>
</html>
